
@import '~antd/dist/antd.css';

.header{
  background-color: #FFF;
}
.header2{
  background-color: #006989;
}

.colorBase{
  background: #A3BAC3;
}

.colorBaseA{
  background: #006989;
}


.colorBase{
  background: #A3BAC3;
}

.colorBaseB{
  background: #A3BAC3;
}

