@import '~antd/dist/antd.css';

.fondo-foros {
    padding: 30px;
    background-image: url("../images/logo.svg");
    background-size: cover;
    height: auto;
}

.tam-titu{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
}

.tam-titu2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.tam-buscador{
    width: 40%;
    margin-bottom: 45px;
}

.div-datos-titulos {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 3px 0px;
    margin: 5px 0px;
}

.div-datos-num{
    padding: 3px 0px;
    margin: 5px 0px;
}

.tamanio-cuadro{
    height: auto;
    width: 80%;
}

.internal-box-size{
    height: auto;
    width: 100%;
    padding-left: 5px;
}




