.imagen-fondo-inicio{
    background-image: url("../images/iglesia_interna.jpg");
    background-size: cover;
    height: 400px;
}

.separa-boton{
    margin-right: 5px;
}

.ant-card-cover{
    height: 150px;
    margin-top: 0px !important;
}

.ant-card-bordered{
    border: none;
}

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
}

