@import '~antd/dist/antd.css';
.tamanio-cuadro{
    height: auto;
    width: 60%;

}
.ant-card-cover{
    height: 150px;
    margin-top: 105px;
    border: none;
    background-color:transparent;

}
.fondo-login {
    background-image: url("../images/logo.svg");
    background-size: cover;
}