.background-register-seat{
    background-image: url("../images/logo.svg");
    background-size: cover;
}

.big-card-size{
    height: auto;
    width: 90%;
}

.internal-box-size{
    height: auto;
    width: 90%;
}

.padding-btn-register{
    padding-top: 20%;
}

.menu-sizes{
    width: 100%;
}

.form-sizes{
    width: 70%;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 32px;
    padding: 0 11px;
}


/*codigo para modificar el selecct por defect */
.content-input input,
.content-select select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}
.content-select{
    max-width: 250px;
    position: relative;
}

.content-select select{
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fff;
    color: #7b7b7b;
    font-size: 1em;
    font-family:
            'Quicksand', sans-serif;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover{
    background: #EAEBED;
}

/*
Creamos la fecha que aparece a la izquierda del select.
*/
.content-select i{
    position: absolute;
    right: 30px;
    top: calc(50% - 7px);
    width: 10px;
    height: 10px;
    display: block;
    border-left:4px solid #d9d9d9;
    border-bottom:4px solid #d9d9d9;
    transform: rotate(-45deg); /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover i{
    margin-top: 3px;
}